.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-right: auto;
  padding-left: auto;
  padding-bottom: 12px;
  margin-bottom: 34px;
  margin-right: -4px;
  margin-left: -4px;

  font-family: inherit;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.filter-buttons button {
  background-color: $team-background-color;
  padding: 6px 22px;
  border-radius: 4px;
  border: $team-background-color 1px solid;
  margin: 0 4px 15px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  &:hover,
  &:focus {
    background-color: $hover-color;
    color: $invert-text-color;
    box-shadow: 2px 2px 4px #e5e5e5;
  }
}
