$primary-text-color: #212121;
$additional-text-color: #757575;
$invert-text-color: #ffffff;
$primary-background-color: #ffffff;
$hero-background-color: #2f303a;
$footer-background-color: #2f303a;
$hover-color: #2196f3;
$team-background-color: #f5f4fa;
